---
layout: base.njk
---
<div class="layout">
  <main>
    {%- for post in collections.post | reverse -%}
    <article id="{{ post.page.fileSlug }}">
      <h2><a href="#{{ post.page.fileSlug }}">{{ post.data.title }}</a></h2>
      {{ post.content | safe }}
    </article>
    {%- endfor -%}
  </main>
  <aside class="sidebar">
    <details class="sidebar-collapse">
      <summary>All Episodes</summary>
      <ul>
        {%- for post in collections.post | reverse -%}
        <li><a href="#{{ post.page.fileSlug }}">{{ post.data.title }}</a></li>
        {%- endfor -%}
      </ul>
    </details>
    <div class="sidebar-expand">
      <h2>Posts</h2>
      <ul>
        {%- for post in collections.post | reverse -%}
        <li><a href="#{{ post.page.fileSlug }}">{{ post.data.title }}</a></li>
        {%- endfor -%}
      </ul>
    </div>
  </aside>
</div>

