---
layout: base.njk
---
<div class="layout">
  <aside class="sidebar">
    <h2>Posts</h2>
    <ul>
      {%- for post in collections.post -%}
      <li><a href="#{{ post.page.fileSlug }}">{{ post.data.title }}</a></li>
      {%- endfor -%}
    </ul>
  </aside>
  <main>
    {%- for post in collections.post -%}
    <article id="#{{ post.page.fileSlug }}">
      <h2>{{ post.data.title }}</h2>
      {{ post.content | safe }}
    </article>
    {%- endfor -%}
  </main>
</div>

