<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Nocturnal Fez</title>
  <link rel="stylesheet" href="/bundle.css">
</head>
<body>
  <header>
    <h1><a href="/">Nocturnal Fez</a></h1>
    <nav>
      <a href="/sign-up">Sign Up</a>
      <a href="/archive">Archive</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </nav>
  </header>
  {{ content | safe }}
</body>
</html>
